<div class="flex flex-col items-center w-full">
  <h2 class='font-semibold text-xl'>Comprar Créditos</h2>
  <div class='py-4 w-auto'>
    <%= form_with model: @credit, url: credits_path, method: :post, local: true do |f| %>
      <div class="field">
        <%= f.label :amount, "Quantidade", class: "block mb-1" %>
        <%= f.number_field :amount, class: "input", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Comprar Créditos", class: "mt-5 w-full text-center p-4 rounded text-white bg-blue-700 hover:bg-blue-800 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
