@tailwind base;
@tailwind components;
@tailwind utilities;

.border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(48 86 211 / var(--tw-border-opacity));
}
.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(48 86 211 / var(--tw-bg-opacity));
}
.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(33 43 54 / var(--tw-bg-opacity));
}
.bg-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}
.bg-opacity-20{
  --tw-bg-opacity: 0.2;
}
.bg-opacity-5{
  --tw-bg-opacity: 0.05;
}
.bg-gradient-to-t{
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.from-dark-700{
  --tw-gradient-from: #090e34b3;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(9 14 52 / 0));
}
.from-primary{
  --tw-gradient-from: #3056D3;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(48 86 211 / 0));
}
.to-transparent{
  --tw-gradient-to: transparent;
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.cards_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
.card{
  display: flex;
  flex-direction: column;
  border: 2px solid #3056D3;
  padding: 10px;
}
@media (min-width: 540px){
  .container{
    max-width: 540px;
  }
}
@media (min-width: 720px){
  .container{
    max-width: 720px;
  }
}
@media (min-width: 960px){
  .container{
    max-width: 960px;
  }
}
@media (min-width: 1140px){
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1320px){
  .container{
    max-width: 1320px;
  }
}

.sticky {
  @apply fixed z-[9999] transition bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
  @apply py-2;
}

.sticky #navbarToggler span {
  @apply bg-black;
}

.sticky #navbarCollapse li a {
  @apply text-white hover:opacity-100 hover:text-black;
}

#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}

.sticky #navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-100 text-black;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply transform rotate-45 top-[7px];
}

.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}

.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.navbar__signin {
  @apply text-base font-medium text-white hover:text-black hover:opacity-70 py-3 px-7;
}

.navbar__signup {
  @apply text-base font-medium text-white bg-white bg-opacity-20 rounded-lg py-3 px-6 hover:bg-opacity-100 hover:text-black duration-300 ease-in-out;
}

.navbar__navitem {
  @apply ud-menu-scroll text-base text-black lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-black py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0
}

.sticky .navbar__signup {
  @apply bg-black hover:bg-black text-white hover:text-white;
}

.sticky .navbar__signin {
  @apply text-black;
}
