<div x-data="{ dropdownOpen: false }" class="relative">
  <button
    class="py-2 px-4 tracking-wide bg-white text-blue-500 font-medium rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
    x-on:click="dropdownOpen = !dropdownOpen"
  >
    <%= current_user.name %>
  </button>

  <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-2"></div>

  <div x-show="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-20">
    <a href="/credits" class="flex align-text-bottom gap-2 px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200">
      <%= render 'shared/icon', icon: 'paid', class_name: 'text-blue-500' %>
      <span class="text-gray-600 leading-6">Meus Créditos</span>
    </a>
  </div>
</div>
